[Unit]
Description=kmonad keyboard config G803882.kbd

[Service]
Restart=always
RestartSec=3
#ExecStart=/usr/bin/kmonad %E/kmonad/config.kbd
ExecStart=/usr/bin/kmonad /home/yancc/apps/kmonad/G803882.kbd
Nice=-20

[Install]
WantedBy=default.target

